.header {
  text-align: center;
  background-color: $color-white;
  &__heading {
    padding: 20px 0 12px 0;
    &--margin-right {
      margin-right: 45px;
    }
  }
  &__city {
    background-color: $color-middle;
    box-shadow: inset 0 5px 5px $color-shadow;
    padding-right: 30px;
  }
  &__logo-maps {
    margin-right: 15px;
  }
  &__logo-arrow {
    float: left;
    margin-left: 15px;
  }
  &__lien {
    text-decoration: none;
  }
}

.image-presentation {
  object-fit: cover;
  margin-bottom: -50px;
}

.menu {
  padding: 40px 12.5px 50px 12.5px;
  background-color: $color-light;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  &__heading {
    padding-left: 5px;
    margin-right: 30px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  &__second-heading {
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
  }
  & hr {
    border: none;
    margin-top: 5px;
    background-color: $colour-third;
    width: 40px;
    height: 4px;
  }
  &__bouton {
    background-color: $color-white;
    border-radius: 12px;
    margin: 15px 0;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover h3 {
      width: 270px;
    }
    &:hover p {
      width: 238px;
    }
    &:hover div.menu__part-price {
      transform: translateX(-50px);
      opacity: 1;
    }
    &:hover img {
      animation: validation-anim 0.6s ease-out forwards;
    }
    &:hover span {
      transform: translateX(-50px);
    }
    &--apparition-1 {
      @include apparition-delay(2.5s);
    }
    &--apparition-2 {
      @include apparition-delay(2.8s);
    }
    &--apparition-3 {
      @include apparition-delay(3.1s);
    }
    &--apparition-4 {
      @include apparition-delay(3.4s);
    }
    &--apparition-5 {
      @include apparition-delay(3.7s);
    }
    &--apparition-6 {
      @include apparition-delay(4s);
    }
    &--apparition-7 {
      @include apparition-delay(4.3s);
    }
    &--apparition-8 {
      @include apparition-delay(4.6s);
    }
    &--apparition-9 {
      @include apparition-delay(4.9s);
    }
    &--apparition-10 {
      @include apparition-delay(5.2s);
    }
  }
  &__part-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
  }
  & span {
    transition: 0.4s ease-in-out;
  }
  &__part-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-third;
    width: 50px;
    height: 100%;
    border-radius: 0 12px 12px 0;
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: 0.4s ease-in-out;
    &--anim-rotate {
      width: 25px;
    }
  }
  & h3 {
    margin-bottom: 8px;
    font-size: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    transition: ease-in-out 0.4s;
  }
  & p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15.5px;
    width: 286px;
    transition: ease-in-out 0.4s;
  }
  &:hover p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__cta {
    margin: 45px 0 0 0;
  }
}

.footer {
  padding: 25px;
  color: $color-white;
  background-color: $color-dark;
  line-height: 25px;
  &__heading {
    font-weight: 500;
    font-size: 20px;
  }
  &__lien {
    text-decoration: none;
    color: $color-white;
  }
  & svg {
    fill: $color-white;
    margin-right: 10px;
  }
}
