.header {
  text-align: center;
  background-color: $color-white;
  &__heading {
    padding: 20px 0 12px 0;
    &--margin-right {
      margin-right: 45px;
    }
  }
  &__city {
    background-color: $color-middle;
    box-shadow: inset 0 5px 5px $color-shadow;
    padding-right: 30px;
  }
  &__logo-maps {
    margin-right: 15px;
  }
  &__logo-arrow {
    float: left;
    margin-left: 15px;
  }
  &__lien {
    text-decoration: none;
  }
}

.image-presentation {
  object-fit: cover;
  margin-bottom: -50px;
}

.menu {
  padding: 40px 12.5px 50px 12.5px;
  background-color: $color-light;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  &__heading {
    padding-left: 5px;
    margin-right: 30px;
    font-size: 30px;
  }
  &__second-heading {
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
  }
  & hr {
    border: none;
    margin-top: 5px;
    background-color: $colour-third;
    width: 40px;
    height: 4px;
  }
  &__bouton {
    background-color: $color-white;
    border-radius: 12px;
    margin: 15px 0;
    padding: 10px 15px;
    width: 320px;
  }
  &__part-text {
    width: 90%;
    &--overflow {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__part-price {
    width: 10%;
    display: flex;
  }
  & h3 {
    margin-bottom: 8px;
    font-size: 19px;
  }
  & p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  & p {
    font-size: 15.5px;
  }
  &__cta {
    margin: 45px 0 0 0;
  }
}

.footer {
  padding: 25px;
  color: $color-white;
  background-color: $color-dark;
  line-height: 25px;
  &__heading {
    font-weight: 500;
    font-size: 20px;
  }
  &__lien {
    text-decoration: none;
    color: $color-white;
  }
  & svg {
    fill: $color-white;
    margin-right: 10px;
  }
}
