.call-to-action {
  border-radius: 50px;
  background: linear-gradient(-5deg, $colour-primary, $colour-secondary);
  text-decoration: none;
  color: $color-white;
  font-size: 14px;
  &--padding-1 {
    padding: 16px 20px;
  }
  &--padding-2 {
    padding: 16px 45px;
  }
}

.bouton-nouveau {
  position: absolute;
  margin-top: 10px;
  margin-left: 245px;
  width: 80px;
  height: 30px;
  background-color: $colour-third;
  border-radius: 3px;
  color: $colour-third-dark;
}
