@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 22px;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 50px 25px black;
  background: linear-gradient(-5deg, $colour-third, $colour-primary);
}
