/*explorer*/

.explorer {
  padding: 40px 0 55px 0;
  text-align: center;
  background-color: $color-light;
  &__heading {
    padding: 0 65px 30px 65px;
  }
  &__texte {
    padding: 0 40px 30px 40px;
  }
}

/*functioning*/

.functioning {
  padding: 20px;
  background-color: $color-white;
  &__heading {
    padding: 30px 0 25px 0;
  }
  &__bouton {
    background-color: $color-light;
    border-radius: 12px;
    margin: 25px 0 25px 10px;
    padding: 25px 0;
    cursor: pointer;
    transition: ease 0.4s;
    &:hover {
      background-color: $colour-primary-active;
      & svg {
        fill: $colour-primary;
      }
    }
  }
  &__logo {
    margin-left: 15px;
    fill: $color-logo;
  }
  &__text {
    margin-left: 25px;
    font-weight: 500;
  }
  &__circle {
    background-color: $colour-primary;
    padding: 4px 10px;
    border-radius: 50%;
    color: $color-white;
    position: relative;
    left: -12px;
  }
}

/*restaurants*/

.restaurant {
  padding: 60px 20px 65px 20px;
  background-color: $color-light;
  &__heading {
    padding-bottom: 20px;
  }
  &__card {
    position: relative;
    border-radius: 12px;
    height: 250px;
    width: 100%;
    margin: 20px 0;
    background-color: $color-white;
    transition: ease 0.4s;
  }
  &__image {
    border-radius: 12px 12px 0 0;
    height: 175px;
    width: 100%;
    object-fit: cover;
    &--position-1 {
      object-position: bottom;
    }
    &--position-2 {
      object-position: 50% 62%;
    }
  }
  &__texte {
    padding: 12px 20px 12px 12px;
    height: 75px;
    & h3 {
      margin-bottom: 5px;
    }
  }
  &__lien {
    text-decoration: none;
    color: black;
  }
  &__heart {
    position: relative;
    float: right;
    bottom: 35px;
  }
}
