$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-third: #99e2d0;

$color-white: #ffffff;
$color-light: #f6f6f6;
$color-middle: #eaeaea;
$color-dark: #353535;

.b {
  border: red solid 1px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 5px 5px 5px $color-middle;
}

.padding-topbot {
  &-20 {
    padding: 20px 0;
  }
  &-15 {
    padding: 15px 0;
  }
}
